In [6]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
from sqlalchemy import engine
from pandasql import sqldf

In [7]:
# Función Lambda que hace escribir funcines en SQL mas fácil.
pysqldf = lambda q: sqldf(q, globals())

In [11]:
#df_canceladas = pd.read_parquet('../data/silver/transacciones_canceladas.parquet')
#df_concretadas = pd.read_parquet('../data/silver/transacciones_concretadas.parquet')
sales = pd.read_csv('../data/bronze/Sales Transaction v.4a1.csv')

In [12]:
sales1 = pd.read_csv('../data/bronze/Sales Transaction v.4a1.csv')

In [13]:
sales1

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom
...,...,...,...,...,...,...,...,...
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

In [14]:
df_canceladas.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,C581484,12/9/2019,23843,Paper Craft Little Birdie,6.19,-80995,16446,United Kingdom
1,C581490,12/9/2019,22178,Victorian Glass Hanging T-Light,6.19,-12,14397,United Kingdom
2,C581490,12/9/2019,23144,Zinc T-Light Holder Stars Small,6.04,-11,14397,United Kingdom
3,C581568,12/9/2019,21258,Victorian Sewing Box Large,6.19,-5,15311,United Kingdom
4,C581569,12/9/2019,84978,Hanging Heart Jar T-Light Holder,6.19,-1,17315,United Kingdom

In [15]:
sales

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom
...,...,...,...,...,...,...,...,...
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

In [23]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   Date           536350 non-null  object
 2   ProductNo      536350 non-null  object
 3   ProductName    536350 non-null  object
 4   Price          536350 non-null  float64
 5   Quantity       536350 non-null  int64
 6   CustomerNo     536295 non-null  float64
 7   Country        536350 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.7+ MB

In [24]:
sales.describe()

               Price       Quantity     CustomerNo
count  536350.000000  536350.000000  536295.000000
mean       12.662182       9.919347   15227.893178
std         8.490450     216.662300    1716.582932
min         5.130000  -80995.000000   12004.000000
25%        10.990000       1.000000   13807.000000
50%        11.940000       3.000000   15152.000000
75%        14.090000      10.000000   16729.000000
max       660.620000   80995.000000   18287.000000

In [16]:
sales.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom

In [13]:
df_concretadas.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069,United Kingdom

In [8]:
df_australia = df_canceladas[df_canceladas['Country'] == 'Australia'
                             ]

In [9]:
df_australia

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
1281,C574019,11/2/2019,22738,Ribbon Reel Snowy Village,11.74,-120,12415,Australia
2563,C568694,9/28/2019,22090,Paper Bunting Retrospot,13.27,-12,16321,Australia
2564,C568694,9/28/2019,21198,White Heart Confetti In Tube,11.94,-24,16321,Australia
3859,C561227,7/26/2019,84978,Hanging Heart Jar T-Light Holder,11.34,-36,12431,Australia
3997,C560540,7/19/2019,21843,Red Retrospot Cake Stand,21.47,-1,12415,Australia
...,...,...,...,...,...,...,...,...
7098,C543375,2/7/2019,22325,Mobile Vintage Hearts,15.32,-3,16321,Australia
7099,C543375,2/7/2019,22087,Paper Bunting White Lace,13.27,-18,16321,Australia
8074,C538723,12/14/2018,22333,Retrospot Party Bag + Sticker Set,11.94,-7,12434,Australia
8075,C538723,12/14/2018,22094,Red Retrospot Tissue Box,11.53,-5,12434,Australia
8109,C538723,12/14/2018,21217,Red Retrospot Round Cake Tins,20.45,-1,12434,Australia

In [11]:
df_canceladas_australia = sales[(sales['Country'] == 'Australia') & (sales['TransactionNo'].str.contains('C', case = False))]

In [12]:
df_canceladas_australia

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
107617,C574019,11/2/2019,22738,Ribbon Reel Snowy Village,11.74,-120,12415.0,Australia
176763,C568694,9/28/2019,22090,Paper Bunting Retrospot,13.27,-12,16321.0,Australia
176764,C568694,9/28/2019,21198,White Heart Confetti In Tube,11.94,-24,16321.0,Australia
260614,C561227,7/26/2019,84978,Hanging Heart Jar T-Light Holder,11.34,-36,12431.0,Australia
270062,C560540,7/19/2019,21843,Red Retrospot Cake Stand,21.47,-1,12415.0,Australia
...,...,...,...,...,...,...,...,...
454033,C543375,2/7/2019,22325,Mobile Vintage Hearts,15.32,-3,16321.0,Australia
454034,C543375,2/7/2019,22087,Paper Bunting White Lace,13.27,-18,16321.0,Australia
507570,C538723,12/14/2018,22333,Retrospot Party Bag + Sticker Set,11.94,-7,12434.0,Australia
507571,C538723,12/14/2018,22094,Red Retrospot Tissue Box,11.53,-5,12434.0,Australia
507605,C538723,12/14/2018,21217,Red Retrospot Round Cake Tins,20.45,-1,12434.0,Australia

In [14]:
df_canceladas_unitedKingdom = sales[(sales['Country'] == 'United Kingdom') & (sales['TransactionNo'].str.contains('C', case = False))]

In [15]:
df_canceladas_unitedKingdom

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
1616,C581484,12/9/2019,23843,Paper Craft Little Birdie,6.19,-80995,16446.0,United Kingdom
1617,C581490,12/9/2019,22178,Victorian Glass Hanging T-Light,6.19,-12,14397.0,United Kingdom
1618,C581490,12/9/2019,23144,Zinc T-Light Holder Stars Small,6.04,-11,14397.0,United Kingdom
1619,C581568,12/9/2019,21258,Victorian Sewing Box Large,6.19,-5,15311.0,United Kingdom
1620,C581569,12/9/2019,84978,Hanging Heart Jar T-Light Holder,6.19,-1,17315.0,United Kingdom
...,...,...,...,...,...,...,...,...
536331,C536391,12/1/2018,22557,Plasters In Tin Vintage Paisley,11.94,-12,17548.0,United Kingdom
536332,C536391,12/1/2018,22553,Plasters In Tin Skulls,11.94,-24,17548.0,United Kingdom
536333,C536506,12/1/2018,22960,Jam Making Set With Jars,14.61,-6,17897.0,United Kingdom
536334,C536543,12/1/2018,22632,Hand Warmer Red Retrospot,12.40,-1,17841.0,United Kingdom
536335,C536543,12/1/2018,22355,Charlotte Bag Suki Design,11.12,-2,17841.0,United Kingdom

In [16]:
df_canceladas_general = sales[(sales['TransactionNo'].str.contains('C', case = False))]

In [17]:
df_canceladas_general

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
1616,C581484,12/9/2019,23843,Paper Craft Little Birdie,6.19,-80995,16446.0,United Kingdom
1617,C581490,12/9/2019,22178,Victorian Glass Hanging T-Light,6.19,-12,14397.0,United Kingdom
1618,C581490,12/9/2019,23144,Zinc T-Light Holder Stars Small,6.04,-11,14397.0,United Kingdom
1619,C581568,12/9/2019,21258,Victorian Sewing Box Large,6.19,-5,15311.0,United Kingdom
1620,C581569,12/9/2019,84978,Hanging Heart Jar T-Light Holder,6.19,-1,17315.0,United Kingdom
...,...,...,...,...,...,...,...,...
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

In [18]:
df_canceladas_austria = sales[(sales['Country'] == 'Austria') & (sales['TransactionNo'].str.contains('C', case = False))]

In [19]:
df_canceladas_austria

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
313520,C556793,6/14/2019,22697,Green Regency Teacup And Saucer,13.27,-1,12818.0,Austria
313521,C556793,6/14/2019,22357,Kings Choice Biscuit Tin,14.61,-5,12818.0,Austria
505506,C538971,12/15/2018,22153,Angel Decoration Stars On Dress,10.68,-48,12865.0,Austria

In [20]:
df_canceladas_bahrain = sales[(sales['Country'] == 'Bahrain') & (sales['TransactionNo'].str.contains('C', case = False))]

In [21]:
df_canceladas_bahrain

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [22]:
df_canceladas_belgium = sales[(sales['Country'] == 'Belgium') & (sales['TransactionNo'].str.contains('C', case = False))]

In [23]:
df_canceladas_belgium

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
22444,C580168,12/2/2019,22628,Picnic Boxes Set Of 3 Retrospot,6.19,-1,12465.0,Belgium
22445,C580168,12/2/2019,22321,Bird Decoration Red Retrospot,6.19,-1,12465.0,Belgium
22446,C580168,12/2/2019,22601,Christmas Retrospot Angel Wood,6.19,-1,12465.0,Belgium
22447,C580168,12/2/2019,22329,Round Container Set Of 5 Retrospot,6.19,-1,12465.0,Belgium
36364,C579178,11/28/2019,22941,Christmas Lights 10 Reindeer,6.19,-2,12362.0,Belgium
36365,C579178,11/28/2019,22942,Christmas Lights 10 Santas,6.19,-2,12362.0,Belgium
36366,C579178,11/28/2019,22943,Christmas Lights 10 Vintage Baubles,6.19,-3,12362.0,Belgium
45739,C578432,11/24/2019,21559,Strawberry Lunch Box With Cutlery,6.04,-1,12395.0,Belgium
84168,C575669,11/10/2019,23462,Rococo Wall Mirror White,30.70,-1,12417.0,Belgium
127069,C572532,10/24/2019,22960,Jam Making Set With Jars,14.61,-1,12380.0,Belgium
217909,C565294,9/2/2019,20981,12 Pencils Tall Tube Woodland,11.12,-12,12423.0,Belgium
233650,C563752,8/19/2019,22891,Tea For One Polkadot,14.61,-1,12362.0,Belgium
233651,C563752,8/19/2019,22659,Lunch Box I Love London,12.25,-6,12362.0,Belgium
233652,C563752,8/19/2019,22630,Dolly Girl Lunch Box,12.25,-1,12362.0,Belgium
285483,C559193,7/7/2019,22659,Lunch Box I Love London,12.25,-1,12379.0,Belgium
296248,C558471,6/29/2019,22974,Childrens Dolly Girl Mug,11.94,-1,12408.0,Belgium
388360,C549533,4/8/2019,22628,Picnic Boxes Set Of 3 Retrospot,15.32,-3,12408.0,Belgium
389866,C549253,4/7/2019,22727,Alarm Clock Bakelike Red,14.09,-1,12408.0,Belgium
389867,C549253,4/7/2019,22725,Alarm Clock Bakelike Chocolate,14.09,-1,12408.0,Belgium
389868,C549253,4/7/2019,22466,Fairy Tale Cottage Night Light,12.25,-1,12408.0,Belgium
389869,C549253,4/7/2019,22328,Round Snack Boxes Set Of 4 Fruits,13.27,-1,12408.0,Belgium
389870,C549253,4/7/2019,20712,Jumbo Bag Woodland Animals,6.19,-1,12408.0,Belgium
421656,C546208,3/10/2019,21318,Glass Chalice Blue Small,11.94,-6,12417.0,Belgium
421657,C546208,3/10/2019,22168,Organiser Wood Antique White,18.96,-1,12417.0,Belgium
436826,C544902,2/24/2019,22629,Spaceboy Lunch Box,12.25,-1,12362.0,Belgium
436827,C544902,2/24/2019,22273,Feltcraft Doll Molly,13.27,-1,12362.0,Belgium
443044,C544419,2/18/2019,85232A,Set/3 Polkadot Stacking Tins,15.32,-3,12395.0,Belgium
473909,C541586,1/19/2019,21218,Red Spotty Biscuit Tin,14.09,-3,12383.0,Belgium
491352,C540386,1/6/2019,22666,Recipe Box Pantry Yellow Design,13.27,-1,12417.0,Belgium
491353,C540386,1/6/2019,22845,Vintage Cream Cat Food Container,16.76,-3,12417.0,Belgium
491368,C540386,1/6/2019,22060,Large Cake Stand Hanging Hearts,20.45,-1,12417.0,Belgium
493035,C540152,1/5/2019,22666,Recipe Box Pantry Yellow Design,13.27,-1,12395.0,Belgium

In [26]:
df_canceladas_brazil = sales[(sales['Country'] == 'Brazil') & (sales['TransactionNo'].str.contains('C', case = False))]

In [27]:
df_canceladas_brazil

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [30]:
df_concretadas_brazil = sales[(sales['Country'] == 'Brazil') & (~sales['TransactionNo'].str.contains('C', case = False))]

In [26]:
df_concretadas_general = sales[(~sales['TransactionNo'].str.contains('C', case = False))]

In [27]:
df_concretadas_general

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom
...,...,...,...,...,...,...,...,...
536320,536585,12/1/2018,37449,Ceramic Cake Stand + Hanging Cakes,20.45,2,17460.0,United Kingdom
536321,536590,12/1/2018,22776,Sweetheart 3 Tier Cake Stand,20.45,1,13065.0,United Kingdom
536322,536590,12/1/2018,22622,Box Of Vintage Alphabet Blocks,20.45,2,13065.0,United Kingdom
536323,536591,12/1/2018,37449,Ceramic Cake Stand + Hanging Cakes,20.45,1,14606.0,United Kingdom
536324,536597,12/1/2018,22220,Cake Stand Lovebird 2 Tier White,20.45,1,18011.0,United Kingdom

In [28]:
df_concretadas_general.to_csv('concretadas_general.csv', index = False)

In [31]:
df_concretadas_brazil

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
379818,550201,4/15/2019,22699,Roses Regency Teacup And Saucer,12.86,24,12769.0,Brazil
379819,550201,4/15/2019,22697,Green Regency Teacup And Saucer,12.86,24,12769.0,Brazil
379820,550201,4/15/2019,22698,Pink Regency Teacup And Saucer,12.86,24,12769.0,Brazil
379821,550201,4/15/2019,22366,Doormat Airmail,17.17,10,12769.0,Brazil
379822,550201,4/15/2019,21430,Set/3 Red Gingham Rose Storage Box,13.72,24,12769.0,Brazil
379823,550201,4/15/2019,22630,Dolly Girl Lunch Box,12.25,24,12769.0,Brazil
379824,550201,4/15/2019,22629,Spaceboy Lunch Box,12.25,12,12769.0,Brazil
379825,550201,4/15/2019,15056P,Edwardian Parasol Pink,16.35,3,12769.0,Brazil
379826,550201,4/15/2019,15056N,Edwardian Parasol Natural,16.35,3,12769.0,Brazil
379827,550201,4/15/2019,20679,Edwardian Parasol Red,16.35,3,12769.0,Brazil
379828,550201,4/15/2019,21166,Cook With Wine Metal Sign,12.38,12,12769.0,Brazil
379829,550201,4/15/2019,21181,Please One Person Metal Sign,12.40,12,12769.0,Brazil
379830,550201,4/15/2019,21770,Open Closed Metal Sign,15.32,10,12769.0,Brazil
379831,550201,4/15/2019,22993,Set Of 4 Pantry Jelly Moulds,11.53,24,12769.0,Brazil
379832,550201,4/15/2019,22722,Set Of 6 Spice Tins Pantry Design,13.79,24,12769.0,Brazil
379833,550201,4/15/2019,23179,Clock Magnet Mum's Kitchen,13.21,6,12769.0,Brazil
379834,550201,4/15/2019,23178,Jam Clock Magnet,13.21,6,12769.0,Brazil
379835,550201,4/15/2019,22494,Emergency First Aid Tin,11.53,12,12769.0,Brazil
379836,550201,4/15/2019,21260,First Aid Tin,13.58,6,12769.0,Brazil
379837,550201,4/15/2019,21906,Pharmacie First Aid Tin,17.17,6,12769.0,Brazil
379838,550201,4/15/2019,84971S,Small Heart Flowers Hook,11.12,24,12769.0,Brazil
379839,550201,4/15/2019,23054,Recycled Acapulco Mat Lavender,18.71,2,12769.0,Brazil
379840,550201,4/15/2019,23053,Recycled Acapulco Mat Pink,18.71,2,12769.0,Brazil
379841,550201,4/15/2019,23050,Recycled Acapulco Mat Green,18.71,2,12769.0,Brazil
379842,550201,4/15/2019,23051,Recycled Acapulco Mat Blue,18.71,2,12769.0,Brazil
379843,550201,4/15/2019,23049,Recycled Acapulco Mat Red,18.71,2,12769.0,Brazil
379844,550201,4/15/2019,23052,Recycled Acapulco Mat Turquoise,18.71,2,12769.0,Brazil
379845,550201,4/15/2019,22488,Natural Slate Rectangle Chalkboard,11.94,12,12769.0,Brazil
379846,550201,4/15/2019,22662,Lunch Bag Dolly Girl Design,5.97,10,12769.0,Brazil
379847,550201,4/15/2019,22382,Lunch Bag Spaceboy Design,5.97,10,12769.0,Brazil
380962,550201,4/15/2019,22423,Regency Cakestand 3 Tier,21.47,16,12769.0,Brazil

In [32]:
df_canceladas_canada = sales[(sales['Country'] == 'Canada') & (sales['TransactionNo'].str.contains('C', case = False))]

In [33]:
df_canceladas_canada

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [34]:
df_canceladas_channel_islands = sales[(sales['Country'] == 'Channel Islands') & (sales['TransactionNo'].str.contains('C', case = False))]

In [35]:
df_canceladas_channel_islands

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
6504,C581323,12/8/2019,21533,Retrospot Large Milk Jug,6.19,-1,14442.0,Channel Islands
28716,C579764,11/30/2019,20914,Set/5 Red Retrospot Lid Glass Bowls,6.19,-1,14936.0,Channel Islands
28717,C579764,11/30/2019,23486,Antique Heart Shelf Unit,6.19,-1,14936.0,Channel Islands
176737,C568579,9/28/2019,21314,Small Glass Heart Trinket Pot,12.40,-1,14934.0,Channel Islands
235167,C563610,8/18/2019,21216,Set 3 Retrospot Tea/Coffee/Sugar,14.61,-1,14937.0,Channel Islands
335041,C554688,5/25/2019,22637,Piggy Bank Retrospot,12.86,-1,14442.0,Channel Islands
335042,C554688,5/25/2019,23092,Large Antique White Photo Frame,18.35,-1,14442.0,Channel Islands
460930,C542734,1/31/2019,22169,Family Album White Picture Frame,18.96,-2,14442.0,Channel Islands
460931,C542734,1/31/2019,22170,Picture Frame Wood Triple Portrait,17.17,-2,14442.0,Channel Islands

In [36]:
df_canceladas_cyprus = sales[(sales['Country'] == 'Cyprus') & (sales['TransactionNo'].str.contains('C', case = False))]

In [37]:
df_canceladas_cyprus

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
22440,C580165,12/2/2019,22797,Chest Of Drawers Gingham Heart,6.19,-2,12359.0,Cyprus
22441,C580165,12/2/2019,23245,Set Of 3 Regency Cake Tins,6.19,-2,12359.0,Cyprus
22442,C580165,12/2/2019,22826,Love Seat Antique White Metal,6.19,-1,12359.0,Cyprus
22443,C580165,12/2/2019,22720,Set Of 3 Cake Tins Pantry Design,6.19,-1,12359.0,Cyprus
382623,C549955,4/13/2019,22839,3 Tier Cake Tin Green And Cream,25.57,-2,12359.0,Cyprus
383647,C549955,4/13/2019,22666,Recipe Box Pantry Yellow Design,13.27,-2,12359.0,Cyprus

In [38]:
df_canceladas_czeh_republic = sales[(sales['Country'] == 'Czech Republic') & (sales['TransactionNo'].str.contains('C', case = False))]

In [39]:
df_canceladas_czeh_republic

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
62315,C577151,11/18/2019,84459A,Pink Metal Chicken Heart,11.78,-24,12781.0,Czech Republic
62316,C577151,11/18/2019,22231,Jigsaw Tree With Birdhouse,11.74,-15,12781.0,Czech Republic
395776,C548667,4/1/2019,22231,Jigsaw Tree With Birdhouse,11.74,-15,12781.0,Czech Republic
395777,C548667,4/1/2019,84459A,Pink Metal Chicken Heart,11.78,-24,12781.0,Czech Republic

In [40]:
df_canceladas_denmark = sales[(sales['Country'] == 'Denmark') & (sales['TransactionNo'].str.contains('C', case = False))]

In [41]:
df_canceladas_denmark

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
140633,C571507,10/17/2019,16169E,Wrap 50'S Christmas,10.68,-25,13919.0,Denmark
140634,C571507,10/17/2019,23511,Embroidered Ribbon Reel Emily,12.38,-5,13919.0,Denmark
140635,C571507,10/17/2019,22961,Jam Making Set Printed,11.74,-2,13919.0,Denmark
140636,C571507,10/17/2019,21731,Red Toadstool Led Night Light,11.94,-3,13919.0,Denmark
140637,C571507,10/17/2019,22666,Recipe Box Pantry Yellow Design,13.27,-2,13919.0,Denmark
243795,C562728,8/9/2019,22849,Bread Bin Diner Style Mint,25.57,-1,12406.0,Denmark
243796,C562728,8/9/2019,22848,Bread Bin Diner Style Pink,25.57,-4,12406.0,Denmark
243797,C562728,8/9/2019,22846,Bread Bin Diner Style Red,25.57,-4,12406.0,Denmark

In [44]:
df_canceladas_eire = sales[(sales['Country'] == 'EIRE') & (sales['TransactionNo'].str.contains('C', case = False))]

In [45]:
df_canceladas_eire

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
25355,C580056,12/1/2019,22467,Gumball Coat Rack,6.19,-1,14911.0,EIRE
49308,C578136,11/23/2019,71477,Coloured Glass Star T-Light Holder,6.13,-2,14156.0,EIRE
49309,C578136,11/23/2019,23328,Set 6 School Milk Bottles In Crate,6.13,-1,14156.0,EIRE
49310,C578136,11/23/2019,23325,Rustic Strawberry Jam Pot Small,6.13,-5,14156.0,EIRE
49311,C578136,11/23/2019,23173,Regency Teapot Roses,6.13,-1,14156.0,EIRE
...,...,...,...,...,...,...,...,...
504171,C539221,12/16/2018,22592,Cardholder Holly Wreath Metal,14.09,-1,14911.0,EIRE
504172,C539221,12/16/2018,22941,Christmas Lights 10 Reindeer,18.96,-12,14911.0,EIRE
504173,C539221,12/16/2018,22942,Christmas Lights 10 Santas,18.96,-10,14911.0,EIRE
533249,C536817,12/2/2018,22187,Green Christmas Tree Card Holder,14.61,-1,14156.0,EIRE
533250,C536817,12/2/2018,71477,Coloured Glass Star T-Light Holder,13.58,-1,14156.0,EIRE

In [46]:
df_canceladas_european = sales[(sales['Country'] == 'European Community') & (sales['TransactionNo'].str.contains('C', case = False))]

In [47]:
df_canceladas_european

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
317063,C556294,6/10/2019,22960,Jam Making Set With Jars,14.61,-2,15108.0,European Community

In [48]:
df_canceladas_finland = sales[(sales['Country'] == 'Finland') & (sales['TransactionNo'].str.contains('C', case = False))]

In [49]:
df_canceladas_finland

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
8925,C581071,12/7/2019,85099C,Jumbo Bag Baroque Black White,6.04,-1,12375.0,Finland
230500,C564108,8/23/2019,21216,Set 3 Retrospot Tea/Coffee/Sugar,15.32,-1,12428.0,Finland
389859,C549184,4/7/2019,37342,Polkadot Coffee Cup & Saucer Pink,11.06,-27,12428.0,Finland
389860,C549184,4/7/2019,21394,Red Polkadot Beaker,10.65,-2,12428.0,Finland
410972,C547234,3/21/2019,21537,Red Retrospot Pudding Bowl,14.61,-1,12428.0,Finland
410973,C547234,3/21/2019,21527,Red Retrospot Traditional Teapot,18.40,-1,12428.0,Finland

In [50]:
df_canceladas_france = sales[(sales['Country'] == 'France') & (sales['TransactionNo'].str.contains('C', case = False))]

In [51]:
df_canceladas_france

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
6499,C581316,12/8/2019,23020,Glass Songbird Storage Jar,6.19,-1,12523.0,France
6500,C581316,12/8/2019,21531,Red Retrospot Sugar Jam Bowl,6.19,-1,12523.0,France
6501,C581316,12/8/2019,23174,Regency Sugar Bowl Green,6.19,-1,12523.0,France
22456,C580263,12/2/2019,70007,Hi Tec Alpine Hand Warmer,6.19,-12,12536.0,France
22457,C580263,12/2/2019,85175,Cacti T-Light Candles,6.19,-16,12536.0,France
...,...,...,...,...,...,...,...,...
504164,C539104,12/16/2018,22662,Lunch Bag Dolly Girl Design,5.97,-3,12494.0,France
504166,C539114,12/16/2018,22667,Recipe Box Retrospot,13.27,-3,12494.0,France
516829,C537893,12/9/2018,22450,Silk Purse Babushka Blue,13.68,-1,12721.0,France
516830,C537893,12/9/2018,22630,Dolly Girl Lunch Box,12.25,-2,12721.0,France
516895,C537893,12/9/2018,22634,Childs Breakfast Set Spaceboy,20.45,-2,12721.0,France

In [52]:
df_canceladas_germany = sales[(sales['Country'] == 'Germany') & (sales['TransactionNo'].str.contains('C', case = False))]

In [53]:
df_canceladas_germany

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
6513,C581409,12/8/2019,84946,Antique Silver T-Light Glass,6.19,-1,12476.0,Germany
6514,C581409,12/8/2019,20979,36 Pencils Tube Red Retrospot,6.19,-3,12476.0,Germany
6515,C581409,12/8/2019,23425,Storage Tin Home Sweet Home,6.19,-3,12476.0,Germany
6516,C581409,12/8/2019,22364,Glass Jar Digestive Biscuits,6.19,-2,12476.0,Germany
6517,C581409,12/8/2019,23114,Vintage Leaf Chopping Board,6.19,-1,12476.0,Germany
...,...,...,...,...,...,...,...,...
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

In [54]:
df_canceladas_greece = sales[(sales['Country'] == 'Greece') & (sales['TransactionNo'].str.contains('C', case = False))]

In [55]:
df_canceladas_greece

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [56]:
df_canceladas_hongkong = sales[(sales['Country'] == 'Hong Kong') & (sales['TransactionNo'].str.contains('C', case = False))]

In [57]:
df_canceladas_hongkong

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [58]:
df_canceladas_iceland = sales[(sales['Country'] == 'Iceland') & (sales['TransactionNo'].str.contains('C', case = False))]

In [59]:
df_canceladas_iceland

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [60]:
df_canceladas_israel = sales[(sales['Country'] == 'Israel') & (sales['TransactionNo'].str.contains('C', case = False))]

In [61]:
df_canceladas_israel

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [62]:
df_canceladas_italy = sales[(sales['Country'] == 'Italy') & (sales['TransactionNo'].str.contains('C', case = False))]

In [63]:
df_canceladas_italy

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
28726,C579785,11/30/2019,23243,Set Of Tea Coffee Sugar Tins Pantry,6.19,-2,12584.0,Italy
28727,C579785,11/30/2019,22847,Bread Bin Diner Style Ivory,6.19,-3,12584.0,Italy
28728,C579785,11/30/2019,22845,Vintage Cream Cat Food Container,6.19,-3,12584.0,Italy
28729,C579785,11/30/2019,22844,Vintage Cream Dog Food Container,6.19,-3,12584.0,Italy
28730,C579785,11/30/2019,22666,Recipe Box Pantry Yellow Design,6.19,-1,12584.0,Italy
28732,C579864,11/30/2019,22120,Welcome Wooden Block Letters,6.19,-9,12584.0,Italy
73539,C576216,11/14/2019,22847,Bread Bin Diner Style Ivory,27.62,-1,12584.0,Italy
73622,C576216,11/14/2019,21843,Red Retrospot Cake Stand,21.47,-1,12584.0,Italy
77038,C576216,11/14/2019,85123A,Cream Hanging Heart T-Light Holder,13.27,-3,12584.0,Italy
77039,C576216,11/14/2019,22960,Jam Making Set With Jars,14.61,-3,12584.0,Italy
77040,C576216,11/14/2019,22804,Pink Hanging Heart T-Light Holder,13.27,-3,12584.0,Italy
77041,C576216,11/14/2019,22720,Set Of 3 Cake Tins Pantry Design,15.32,-3,12584.0,Italy
121699,C572761,10/26/2019,22960,Jam Making Set With Jars,14.61,-3,12584.0,Italy
121700,C572761,10/26/2019,22845,Vintage Cream Cat Food Container,16.76,-1,12584.0,Italy
121701,C572761,10/26/2019,22844,Vintage Cream Dog Food Container,18.96,-1,12584.0,Italy
121702,C572761,10/26/2019,22666,Recipe Box Pantry Yellow Design,13.27,-1,12584.0,Italy
160487,C569949,10/6/2019,23243,Set Of Tea Coffee Sugar Tins Pantry,15.32,-2,12584.0,Italy
160488,C569949,10/6/2019,22960,Jam Making Set With Jars,14.61,-1,12584.0,Italy
160489,C569949,10/6/2019,22845,Vintage Cream Cat Food Container,16.76,-1,12584.0,Italy
160490,C569949,10/6/2019,22844,Vintage Cream Dog Food Container,18.96,-2,12584.0,Italy
160491,C569949,10/6/2019,22804,Pink Hanging Heart T-Light Holder,13.27,-2,12584.0,Italy
160492,C569949,10/6/2019,22720,Set Of 3 Cake Tins Pantry Design,15.32,-1,12584.0,Italy
248401,C562423,8/4/2019,22423,Regency Cakestand 3 Tier,23.32,-1,12584.0,Italy
250152,C562423,8/4/2019,22720,Set Of 3 Cake Tins Pantry Design,15.32,-2,12584.0,Italy
250153,C562423,8/4/2019,22627,Mint Kitchen Scales,18.96,-2,12584.0,Italy
250154,C562425,8/4/2019,23243,Set Of Tea Coffee Sugar Tins Pantry,15.32,-1,12584.0,Italy
294912,C558439,6/29/2019,22848,Bread Bin Diner Style Pink,27.62,-1,12584.0,Italy
294913,C558439,6/29/2019,22849,Bread Bin Diner Style Mint,27.62,-1,12584.0,Italy
296227,C558439,6/29/2019,22804,Pink Hanging Heart T-Light Holder,13.27,-2,12584.0,Italy
419073,C546501,3/14/2019,22720,Set Of 3 Cake Tins Pantry Design,15.32,-2,12584.0,Italy
464110,C542273,1/27/2019,21936,Red Retrospot Picnic Bag,13.27,-2,12578.0,Italy
464111,C542273,1/27/2019,22099,Caravan Square Tissue Box,11.53,-9,12578.0,Italy
464112,C542273,1/27/2019,20980,36 Pencils Tube Posy,11.53,-9,12578.0,Italy
464113,C542273,1/27/2019,22301,Coffee Mug Cat + Bird Design,12.86,-1,12578.0,Italy
464114,C542273,1/27/2019,22300,Coffee Mug Dog + Ball Design,12.86,-1,12578.0,Italy
493030,C540129,1/5/2019,22352,Lunch Box With Cutlery Retrospot,12.86,-3,12578.0,Italy
526280,C537232,12/6/2018,84840,Sweetheart Carry-All Basket,18.96,-2,12586.0,Italy

In [64]:
df_canceladas_japan = sales[(sales['Country'] == 'Japan') & (sales['TransactionNo'].str.contains('C', case = False))]

In [65]:
df_canceladas_japan

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
12228,C580832,12/6/2019,23238,Set Of 4 Knick Knack Tins London,6.19,-1,12753.0,Japan
12229,C580832,12/6/2019,23237,Set Of 4 Knick Knack Tins Leaf,6.19,-3,12753.0,Japan
12230,C580832,12/6/2019,22667,Recipe Box Retrospot,6.19,-3,12753.0,Japan
12231,C580832,12/6/2019,21731,Red Toadstool Led Night Light,6.19,-2,12753.0,Japan
12232,C580832,12/6/2019,23480,Mini Lights Woodland Mushrooms,6.19,-15,12753.0,Japan
12233,C580832,12/6/2019,22466,Fairy Tale Cottage Night Light,6.19,-17,12753.0,Japan
12234,C580832,12/6/2019,23084,Rabbit Night Light,6.19,-7,12753.0,Japan
12235,C580832,12/6/2019,22621,Traditional Knitting Nancy,6.19,-1,12753.0,Japan
230505,C564138,8/23/2019,20979,36 Pencils Tube Red Retrospot,11.53,-16,12753.0,Japan
230506,C564138,8/23/2019,22637,Piggy Bank Retrospot,12.40,-2,12753.0,Japan
230507,C564138,8/23/2019,21218,Red Spotty Biscuit Tin,13.58,-3,12753.0,Japan
230508,C564138,8/23/2019,23239,Set Of 4 Knick Knack Tins Poppies,14.09,-1,12753.0,Japan
230509,C564138,8/23/2019,23244,Round Storage Tin Vintage Leaf,11.94,-2,12753.0,Japan
230510,C564138,8/23/2019,23238,Set Of 4 Knick Knack Tins London,14.09,-1,12753.0,Japan
230511,C564138,8/23/2019,23229,Vintage Donkey Tail Game,13.72,-1,12753.0,Japan
230512,C564138,8/23/2019,22662,Lunch Bag Dolly Girl Design,5.97,-1,12753.0,Japan
370598,C551015,4/26/2019,23176,Abc Treasure Book Box,12.56,-4,12753.0,Japan
370599,C551015,4/26/2019,22637,Piggy Bank Retrospot,12.40,-3,12753.0,Japan
370600,C551015,4/26/2019,22364,Glass Jar Digestive Biscuits,12.86,-9,12753.0,Japan
370601,C551015,4/26/2019,22361,Glass Jar Daisy Fresh Cotton Wool,12.86,-1,12753.0,Japan
370602,C551015,4/26/2019,21774,Decorative Cats Bathroom Bottle,11.53,-1,12753.0,Japan
370603,C551015,4/26/2019,21452,Toadstool Money Box,12.86,-4,12753.0,Japan
370604,C551015,4/26/2019,21218,Red Spotty Biscuit Tin,13.58,-10,12753.0,Japan
370605,C551015,4/26/2019,22661,Charlotte Bag Dolly Girl Design,10.99,-1,12753.0,Japan
393793,C548731,4/4/2019,22328,Round Snack Boxes Set Of 4 Fruits,12.86,-624,12755.0,Japan
430670,C545446,3/2/2019,22957,Set 3 Paper Vintage Chick Paper Egg,12.86,-12,12753.0,Japan
430671,C545446,3/2/2019,22654,Deluxe Sewing Kit,15.32,-2,12753.0,Japan
430672,C545446,3/2/2019,22661,Charlotte Bag Dolly Girl Design,10.99,-1,12753.0,Japan
430673,C545446,3/2/2019,20724,Red Retrospot Charlotte Bag,10.99,-1,12753.0,Japan
430674,C545446,3/2/2019,20725,Lunch Bag Red Retrospot,5.87,-1,12753.0,Japan
491359,C540392,1/6/2019,21155,Red Retrospot Peg Bag,12.40,-1,12753.0,Japan
491360,C540392,1/6/2019,22244,3 Hook Hanger Magic Garden,12.25,-1,12753.0,Japan
491361,C540392,1/6/2019,22088,Paper Bunting Coloured Lace,12.86,-40,12753.0,Japan
491362,C540392,1/6/2019,22567,20 Dolly Pegs Retrospot,11.53,-3,12753.0,Japan

In [66]:
df_canceladas_lebanon = sales[(sales['Country'] == 'Lebanon') & (sales['TransactionNo'].str.contains('C', case = False))]

In [67]:
df_canceladas_lebanon

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [68]:
df_canceladas_lithuania = sales[(sales['Country'] == 'Lithuania') & (sales['TransactionNo'].str.contains('C', case = False))]

In [69]:
df_canceladas_lithuania

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [70]:
df_canceladas_malta = sales[(sales['Country'] == 'Malta') & (sales['TransactionNo'].str.contains('C', case = False))]

In [71]:
df_canceladas_malta

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
25326,C579929,12/1/2019,22768,Family Photo Frame Cornice,6.04,-2,17828.0,Malta
25327,C579929,12/1/2019,85034C,3 Rose Morris Boxed Candles,6.04,-1,17828.0,Malta
25328,C579929,12/1/2019,72807C,Set/3 Vanilla Scented Candle In Box,6.04,-1,17828.0,Malta
25329,C579929,12/1/2019,22307,Gold Mug Bone China Tree Of Life,6.04,-1,17828.0,Malta
25330,C579929,12/1/2019,72741,Grand Chocolatecandle,6.04,-3,17828.0,Malta
49321,C578274,11/23/2019,22768,Family Photo Frame Cornice,5.97,-2,17828.0,Malta
49322,C578274,11/23/2019,85034C,3 Rose Morris Boxed Candles,5.97,-1,17828.0,Malta
49323,C578274,11/23/2019,72807C,Set/3 Vanilla Scented Candle In Box,6.13,-1,17828.0,Malta
49324,C578274,11/23/2019,22307,Gold Mug Bone China Tree Of Life,6.13,-1,17828.0,Malta
49325,C578274,11/23/2019,72741,Grand Chocolatecandle,6.13,-3,17828.0,Malta
223772,C564751,8/30/2019,22065,Christmas Pudding Trinket Pot,11.74,-4,17828.0,Malta
223777,C564751,8/30/2019,22768,Family Photo Frame Cornice,20.45,-1,17828.0,Malta
310252,C557054,6/16/2019,72807C,Set/3 Vanilla Scented Candle In Box,14.61,-1,17828.0,Malta
310253,C557054,6/16/2019,72807A,Set/3 Rose Candle In Jewelled Box,14.61,-2,17828.0,Malta

In [72]:
df_canceladas_netherlands = sales[(sales['Country'] == 'Netherlands') & (sales['TransactionNo'].str.contains('C', case = False))]

In [73]:
df_canceladas_netherlands

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
220471,C564899,8/31/2019,22956,36 Foil Heart Cake Cases,12.15,-144,14646.0,Netherlands
220472,C564899,8/31/2019,21787,Rain Poncho Retrospot,10.92,-144,14646.0,Netherlands
318881,C556117,6/9/2019,47503A,Ass Floral Print Multi Screwdriver,11.53,-12,12802.0,Netherlands
456496,C543109,2/3/2019,22291,Hanging Chick Cream Decoration,11.74,-24,12775.0,Netherlands

In [74]:
df_canceladas_norway = sales[(sales['Country'] == 'Norway') & (sales['TransactionNo'].str.contains('C', case = False))]

In [75]:
df_canceladas_norway

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
220557,C565050,8/31/2019,85159B,White Tea Coffee Sugar Jars,12.25,-1,12381.0,Norway
220558,C565050,8/31/2019,23198,Pantry Magnetic Shopping List,11.74,-10,12381.0,Norway
220559,C565050,8/31/2019,23243,Set Of Tea Coffee Sugar Tins Pantry,15.32,-2,12381.0,Norway
220560,C565050,8/31/2019,21791,Vintage Heads And Tails Card Game,11.53,-12,12381.0,Norway
409904,C547388,3/22/2019,84050,Pink Heart Shape Egg Frying Pan,11.94,-12,12352.0,Norway
409905,C547388,3/22/2019,37448,Ceramic Cake Design Spotted Mug,11.78,-12,12352.0,Norway
409906,C547388,3/22/2019,22784,Lantern Cream Gazebo,15.32,-3,12352.0,Norway
409907,C547388,3/22/2019,22701,Pink Dog Bowl,13.27,-6,12352.0,Norway
409908,C547388,3/22/2019,22645,Ceramic Heart Fairy Cake Money Bank,11.74,-12,12352.0,Norway
409909,C547388,3/22/2019,22413,Metal Sign Take It Or Leave It,13.27,-6,12352.0,Norway
409910,C547388,3/22/2019,21914,Blue Harmonica In Box,11.53,-12,12352.0,Norway

In [76]:
df_canceladas_poland = sales[(sales['Country'] == 'Poland') & (sales['TransactionNo'].str.contains('C', case = False))]

In [77]:
df_canceladas_poland

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
262565,C561104,7/25/2019,22666,Recipe Box Pantry Yellow Design,13.27,-3,12576.0,Poland

In [78]:
df_canceladas_portugal = sales[(sales['Country'] == 'Portugal') & (sales['TransactionNo'].str.contains('C', case = False))]

In [79]:
df_canceladas_portugal

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
8937,C581128,12/7/2019,85099B,Jumbo Bag Red Retrospot,6.19,-3,12785.0,Portugal
251677,C562144,8/3/2019,21643,Assorted Tutti Frutti Mirror,11.53,-12,12757.0,Portugal
493031,C540142,1/5/2019,22667,Recipe Box Retrospot,13.27,-2,12782.0,Portugal
493032,C540142,1/5/2019,22666,Recipe Box Pantry Yellow Design,13.27,-1,12782.0,Portugal
493033,C540142,1/5/2019,21430,Set/3 Red Gingham Rose Storage Box,14.09,-1,12782.0,Portugal
493034,C540142,1/5/2019,22960,Jam Making Set With Jars,14.09,-12,12782.0,Portugal
507600,C538882,12/14/2018,21791,Vintage Heads And Tails Card Game,11.53,-12,12797.0,Portugal
507601,C538882,12/14/2018,21892,Traditional Wooden Catch Cup Game,11.53,-12,12797.0,Portugal
507602,C538882,12/14/2018,21891,Traditional Wooden Skipping Rope,11.53,-12,12797.0,Portugal
507603,C538889,12/14/2018,22623,Box Of Vintage Jigsaw Blocks,15.32,-3,12797.0,Portugal

In [80]:
df_canceladas_RSA = sales[(sales['Country'] == 'RSA') & (sales['TransactionNo'].str.contains('C', case = False))]

In [81]:
df_canceladas_RSA

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [82]:
df_canceladas_saudi_arabia = sales[(sales['Country'] == 'Saudi Arabia') & (sales['TransactionNo'].str.contains('C', case = False))]

In [83]:
df_canceladas_saudi_arabia

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
429734,C545507,3/3/2019,22361,Glass Jar Daisy Fresh Cotton Wool,13.27,-5,12565.0,Saudi Arabia

In [84]:
df_canceladas_singapore = sales[(sales['Country'] == 'Singapore') & (sales['TransactionNo'].str.contains('C', case = False))]

In [85]:
df_canceladas_singapore

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [86]:
df_canceladas_spain = sales[(sales['Country'] == 'Spain') & (sales['TransactionNo'].str.contains('C', case = False))]

In [87]:
df_canceladas_spain

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
8941,C581148,12/7/2019,22063,Ceramic Bowl With Strawberry Design,6.19,-1,12462.0,Spain
8942,C581148,12/7/2019,23247,Biscuit Tin 50'S Christmas,6.19,-4,12462.0,Spain
8943,C581148,12/7/2019,37449,Ceramic Cake Stand + Hanging Cakes,6.19,-1,12462.0,Spain
8944,C581148,12/7/2019,22059,Ceramic Strawberry Design Mug,6.19,-2,12462.0,Spain
8945,C581148,12/7/2019,22057,Ceramic Plate Strawberry Design,6.19,-6,12462.0,Spain
8946,C581148,12/7/2019,84817,Danish Rose Decorative Plate,6.02,-4,12462.0,Spain
87340,C575531,11/10/2019,22960,Jam Making Set With Jars,14.61,-4,12544.0,Spain
94184,C574894,11/7/2019,23458,Dolly Cabinet 3 Drawers,25.57,-1,12597.0,Spain
94229,C574894,11/7/2019,21843,Red Retrospot Cake Stand,21.47,-2,12597.0,Spain
96201,C574894,11/7/2019,23236,Storage Tin Vintage Doily,13.21,-1,12597.0,Spain
96202,C574894,11/7/2019,22071,Small White Retrospot Mug In Box,14.09,-3,12597.0,Spain
96203,C574894,11/7/2019,20914,Set/5 Red Retrospot Lid Glass Bowls,13.27,-6,12597.0,Spain
96204,C574894,11/7/2019,22553,Plasters In Tin Skulls,11.94,-12,12597.0,Spain
96205,C574894,11/7/2019,22554,Plasters In Tin Woodland Animals,11.94,-12,12597.0,Spain
96206,C574894,11/7/2019,23661,Milk Maids Mug,11.94,-12,12597.0,Spain
137718,C571499,10/17/2019,23064,Cinderella Chandelier,53.04,-10,12454.0,Spain
137801,C571499,10/17/2019,22423,Regency Cakestand 3 Tier,21.47,-32,12454.0,Spain
140620,C571499,10/17/2019,82494L,Wooden Frame Antique White,12.86,-72,12454.0,Spain
140621,C571499,10/17/2019,82486,3 Drawer Antique White Wood Cabinet,18.60,-12,12454.0,Spain
140622,C571499,10/17/2019,82483,Wood 2 Drawer Cabinet White Finish,16.35,-32,12454.0,Spain
140623,C571499,10/17/2019,82482,Wooden Picture Frame White Finish,12.86,-72,12454.0,Spain
140624,C571499,10/17/2019,72802C,Vanilla Scent Candle Jewelled Box,11.53,-288,12454.0,Spain
140625,C571499,10/17/2019,72802B,Ocean Scent Candle In Jewelled Box,11.53,-200,12454.0,Spain
140626,C571499,10/17/2019,23245,Set Of 3 Regency Cake Tins,14.50,-16,12454.0,Spain
140627,C571499,10/17/2019,23072,Marie Antoinette Trinket Box Silver,16.91,-48,12454.0,Spain
140628,C571499,10/17/2019,23071,Marie Antoinette Trinket Box Gold,16.91,-48,12454.0,Spain
140629,C571499,10/17/2019,23057,Beaded Chandelier T-Light Holder,14.50,-48,12454.0,Spain
140630,C571499,10/17/2019,23056,Flowers Chandelier T-Light Holder,15.77,-48,12454.0,Spain
140631,C571499,10/17/2019,23055,Ivory Chandelier T-Light Holder,15.77,-48,12454.0,Spain
140632,C571499,10/17/2019,22173,Metal 4 Hook Hanger French Chateau,13.07,-32,12454.0,Spain
168125,C569370,10/3/2019,22221,Cake Stand Lovebird 2 Tier Pink,20.45,-1,12484.0,Spain
190627,C567521,9/20/2019,22486,Plasmatronic Lamp,23.32,-1,12540.0,Spain
190628,C567521,9/20/2019,22423,Regency Cakestand 3 Tier,23.32,-1,12540.0,Spain
231801,C563899,8/21/2019,21340,Classic Metal Birdcage Plant Holder,23.32,-1,17097.0,Spain
232845,C563899,8/21/2019,22726,Alarm Clock Bakelike Green,14.09,-1,17097.0,Spain
285480,C559175,7/7/2019,22960,Jam Making Set With Jars,14.61,-11,12507.0,Spain
426346,C545728,3/7/2019,22423,Regency Cakestand 3 Tier,23.32,-2,12484.0,Spain
426421,C545728,3/7/2019,22636,Childs Breakfast Set Circus Parade,18.96,-1,12484.0,Spain
426422,C545728,3/7/2019,21232,Strawberry Ceramic Trinket Pot,11.53,-2,12484.0,Spain
443035,C544397,2/18/2019,21730,Glass Star Frosted T-Light Holder,15.32,-1,12462.0,Spain
443036,C544397,2/18/2019,37450,Ceramic Cake Bowl + Hanging Cakes,13.27,-1,12462.0,Spain
443037,C544397,2/18/2019,22063,Ceramic Bowl With Strawberry Design,13.27,-1,12462.0,Spain
443059,C544397,2/18/2019,37449,Ceramic Cake Stand + Hanging Cakes,20.45,-1,12462.0,Spain
472469,C541654,1/20/2019,21843,Red Retrospot Cake Stand,21.47,-6,12540.0,Spain

In [88]:
df_canceladas_sweden = sales[(sales['Country'] == 'Sweden') & (sales['TransactionNo'].str.contains('C', case = False))]

In [89]:
df_canceladas_sweden

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
17583,C580702,12/5/2019,23494,Vintage Doily Deluxe Sewing Kit,6.19,-40,17404.0,Sweden
62344,C577363,11/18/2019,23235,Storage Tin Vintage Leaf,13.21,-3,12697.0,Sweden
94110,C575081,11/8/2019,23480,Mini Lights Woodland Mushrooms,14.09,-5,12483.0,Sweden
94111,C575081,11/8/2019,22633,Hand Warmer Union Jack,12.40,-1,12483.0,Sweden
236830,C563586,8/17/2019,22077,6 Ribbons Rustic Charm,11.94,-6,12697.0,Sweden
364464,C551864,5/4/2019,22779,Wooden Owls Light Garland,14.61,-2,12483.0,Sweden
365846,C551585,5/3/2019,22779,Wooden Owls Light Garland,14.61,-2,12483.0,Sweden
421641,C546162,3/10/2019,85178,Victorian Sewing Kit,11.53,-144,17404.0,Sweden
507594,C538847,12/14/2018,85232B,Set Of 3 Babushka Stacking Tins,15.32,-240,17404.0,Sweden

In [90]:
df_canceladas_switzerland = sales[(sales['Country'] == 'Zwitzerland') & (sales['TransactionNo'].str.contains('C', case = False))]

In [91]:
df_canceladas_switzerland

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [92]:
df_canceladas_united_arab_emirates = sales[(sales['Country'] == 'United Arab Emirates') & (sales['TransactionNo'].str.contains('C', case = False))]

In [93]:
df_canceladas_united_arab_emirates

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [94]:
df_canceladas_unitedKingdom = sales[(sales['Country'] == 'United Kingdom') & (sales['TransactionNo'].str.contains('C', case = False))]

In [95]:
df_canceladas_unitedKingdom

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
1616,C581484,12/9/2019,23843,Paper Craft Little Birdie,6.19,-80995,16446.0,United Kingdom
1617,C581490,12/9/2019,22178,Victorian Glass Hanging T-Light,6.19,-12,14397.0,United Kingdom
1618,C581490,12/9/2019,23144,Zinc T-Light Holder Stars Small,6.04,-11,14397.0,United Kingdom
1619,C581568,12/9/2019,21258,Victorian Sewing Box Large,6.19,-5,15311.0,United Kingdom
1620,C581569,12/9/2019,84978,Hanging Heart Jar T-Light Holder,6.19,-1,17315.0,United Kingdom
...,...,...,...,...,...,...,...,...
536331,C536391,12/1/2018,22557,Plasters In Tin Vintage Paisley,11.94,-12,17548.0,United Kingdom
536332,C536391,12/1/2018,22553,Plasters In Tin Skulls,11.94,-24,17548.0,United Kingdom
536333,C536506,12/1/2018,22960,Jam Making Set With Jars,14.61,-6,17897.0,United Kingdom
536334,C536543,12/1/2018,22632,Hand Warmer Red Retrospot,12.40,-1,17841.0,United Kingdom
536335,C536543,12/1/2018,22355,Charlotte Bag Suki Design,11.12,-2,17841.0,United Kingdom

In [99]:
df_canceladas_unspecified = sales[(sales['Country'] == 'Unspecified') & (sales['TransactionNo'].str.contains('C', case = False))]

In [100]:
df_canceladas_unspecified

Empty DataFrame
Columns: [TransactionNo, Date, ProductNo, ProductName, Price, Quantity, CustomerNo, Country]
Index: []

In [101]:
df_canceladas_usa = sales[(sales['Country'] == 'USA') & (sales['TransactionNo'].str.contains('C', case = False))]

In [102]:
df_canceladas_usa

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
6481,C581229,12/8/2019,84828,Jungle Popsicles Ice Lolly Moulds,6.19,-24,12558.0,USA
6482,C581229,12/8/2019,79191C,Retro Plastic Elephant Tray,6.19,-24,12558.0,USA
6483,C581229,12/8/2019,23392,Spaceboy Rocket Lolly Makers,6.19,-24,12558.0,USA
6484,C581229,12/8/2019,23158,Set Of 5 Lucky Cat Magnets,6.19,-36,12558.0,USA
6485,C581229,12/8/2019,22712,Card Dolly Girl,6.19,-12,12558.0,USA
...,...,...,...,...,...,...,...,...
148170,C570867,10/12/2019,23293,Set Of 12 Fairy Cake Baking Cases,11.10,-8,12607.0,USA
148171,C570867,10/12/2019,23292,Spaceboy Childrens Cup,11.53,-8,12607.0,USA
148172,C570867,10/12/2019,23291,Dolly Girl Childrens Cup,11.53,-8,12607.0,USA
148173,C570867,10/12/2019,23513,Embroidered Ribbon Reel Susie,12.38,-6,12607.0,USA
148174,C570867,10/12/2019,21058,Party Invites Woodland,11.12,-12,12607.0,USA

In [103]:
df_canceladas_usa.to_csv('canceladas_usa.csv', index = False)

In [104]:
df_canceladas_australia.to_csv('canceladas_australia.csv', index = False)

In [105]:
df_canceladas_austria.to_csv('canceladas_austria.csv', index = False)

In [106]:
df_canceladas_bahrain.to_csv('canceladas_bahrain.csv', index = False)

In [107]:
df_canceladas_belgium.to_csv('canceladas_belgium.csv', index = False)
df_canceladas_brazil.to_csv('canceladas_brazil.csv', index = False)
df_canceladas_canada.to_csv('canceladas_canada.csv', index = False)
df_canceladas_channel_islands.to_csv('canceladas_channel_islands.csv', index = False)
df_canceladas_cyprus.to_csv('canceladas_cyprus.csv', index = False)
df_canceladas_czeh_republic.to_csv('canceladas_czech_republic.csv', index = False)
df_canceladas_denmark.to_csv('canceladas_denmark.csv', index = False)
df_canceladas_eire.to_csv('canceladas_eire.csv', index = False)
df_canceladas_european.to_csv('canceladas_european.csv', index = False)
df_canceladas_finland.to_csv('canceladas_finland.csv', index = False)
df_canceladas_france.to_csv('canceladas_france.csv', index = False)
df_canceladas_germany.to_csv('canceladas_germany.csv', index = False)
df_canceladas_greece.to_csv('canceladas_greece.csv', index = False)
df_canceladas_hongkong.to_csv('canceladas_hongkong.csv', index = False)
df_canceladas_iceland.to_csv('canceladas_iceland.csv', index = False)
df_canceladas_israel.to_csv('canceladas_israel.csv', index = False)
df_canceladas_italy.to_csv('canceladas_italy.csv', index = False)
df_canceladas_japan.to_csv('canceladas_japan.csv', index = False)
df_canceladas_lebanon.to_csv('canceladas_lebanon.csv', index = False)
df_canceladas_lithuania.to_csv('canceladas_lithuania.csv', index = False)
df_canceladas_malta.to_csv('canceladas_malta.csv', index = False)
df_canceladas_netherlands.to_csv('canceladas_netherlands.csv', index = False)
df_canceladas_norway.to_csv('canceladas_norway.csv', index = False)
df_canceladas_poland.to_csv('canceladas_poland.csv', index = False)
df_canceladas_portugal.to_csv('canceladas_portugal.csv', index = False)
df_canceladas_RSA.to_csv('canceladas_RSA.csv', index = False)
df_canceladas_saudi_arabia.to_csv('canceladas_saudi_arabia.csv', index = False)
df_canceladas_singapore.to_csv('canceladas_singapore.csv', index = False)
df_canceladas_spain.to_csv('canceladas_spain.csv', index = False)
df_canceladas_sweden.to_csv('canceladas_sweden.csv', index = False)
df_canceladas_switzerland.to_csv('canceladas_switzerland.csv', index = False)
df_canceladas_united_arab_emirates.to_csv('canceladas_united_arab_emirates.csv', index = False)
df_canceladas_unitedKingdom.to_csv('canceladas_united_kingdom.csv', index = False)
df_canceladas_unspecified.to_csv('canceladas_uspecified.csv', index = False)

df_canceladas_general = sales[(sales['TransactionNo'].str.contains('C', case = False))]

In [17]:
df_canceladas_general = sales[(sales['TransactionNo'].str.contains('C', case = False))]

In [18]:
df_canceladas_general.to_csv('canceladas_general.csv', index = False)

In [19]:
#Suma de carros abandonados
total_carros_cancelados = df_canceladas_general.shape[0]

In [21]:
# Imprimiendo cantidad de carros abandonados
print (f'Total de carros abandonados: {total_carros_cancelados}')

Total de carros abandonados: 8585

In [59]:
df_canceladas_general

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
1616,C581484,12/9/2019,23843,Paper Craft Little Birdie,6.19,-80995,16446.0,United Kingdom
1617,C581490,12/9/2019,22178,Victorian Glass Hanging T-Light,6.19,-12,14397.0,United Kingdom
1618,C581490,12/9/2019,23144,Zinc T-Light Holder Stars Small,6.04,-11,14397.0,United Kingdom
1619,C581568,12/9/2019,21258,Victorian Sewing Box Large,6.19,-5,15311.0,United Kingdom
1620,C581569,12/9/2019,84978,Hanging Heart Jar T-Light Holder,6.19,-1,17315.0,United Kingdom
...,...,...,...,...,...,...,...,...
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

In [44]:
# Viendo tipo de datos: integer
print(type(total_carros_cancelados))

<class 'int'>

In [45]:
#Suma de carros concretados
total_carros_concretados = df_concretadas_general.shape[0]

In [46]:
# Imprimiendo cantidad de carros concretados
print (f'Total de carros concretados: {total_carros_concretados}')

Total de carros concretados: 527765

In [47]:
# Viendo tipo de datos: integer
print(type(total_carros_concretados))

<class 'int'>

In [51]:
# Suma de carros en general
total_carros_general = sales.shape[0]

In [52]:
# Mostrar suma carros en general
print (f'Total de carros generales (concretados y cancelados): {total_carros_general}')

Total de carros generales (concretados y cancelados): 536350

In [53]:
sales

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom
...,...,...,...,...,...,...,...,...
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

In [214]:
# Calcular la tasa de abandono
tasa_abandono = (total_carros_general - total_carros_concretados) / total_carros_general * 100

In [215]:
#Agrupar paises para sacar la tasa de cancelados de cada uno
pais_agrupado_para_tasa = sales.groupby('Country').agg(
    total_carros_general=pd.NamedAgg(column='TransactionNo', aggfunc='nunique'),
    total_carros_concretados=pd.NamedAgg(column='TransactionNo', aggfunc='count')
).reset_index()

In [223]:
pais_agrupado_para_tasa

,Country,total_carros_general,total_carros_concretados,tasa_abandono
0,Australia,73,1704,-2234.246575
1,Austria,13,887,-6723.076923
2,Bahrain,2,17,-750.000000
3,Belgium,114,2539,-2127.192982
4,Brazil,1,31,-3000.000000
5,Canada,5,150,-2900.000000
6,Channel Islands,29,629,-2068.965517
7,Cyprus,14,582,-4057.142857
8,Czech Republic,4,28,-600.000000
9,Denmark,23,416,-1708.695652
10,EIRE,332,8048,-2324.096386
11,European Community,4,58,-1350.000000
12,Finland,46,692,-1404.347826
13,France,463,10526,-2173.434125
14,Germany,587,10675,-1718.568995
15,Greece,2,67,-3250.000000
16,Hong Kong,6,153,-2450.000000
17,Iceland,8,787,-9737.500000
18,Israel,10,358,-3480.000000
19,Italy,42,661,-1473.809524
20,Japan,26,371,-1326.923077
21,Lebanon,1,45,-4400.000000
22,Lithuania,4,34,-750.000000
23,Malta,10,149,-1390.000000
24,Netherlands,97,2330,-2302.061856
25,Norway,30,938,-3026.666667
26,Poland,12,174,-1350.000000
27,Portugal,57,1848,-3142.105263
28,RSA,1,57,-5600.000000
29,Saudi Arabia,2,10,-400.000000
30,Singapore,4,215,-5275.000000
31,Spain,89,2430,-2630.337079
32,Sweden,41,417,-917.073171
33,Switzerland,73,2336,-3100.000000
34,USA,10,379,-3690.000000
35,United Arab Emirates,2,67,-3250.000000
36,United Kingdom,20954,485095,-2215.047246
37,Unspecified,13,447,-3338.461538

In [222]:
pais_agrupado_para_tasa ['tasa_abandono'] = (pais_agrupado_para_tasa ['total_carros_general'] - pais_agrupado_para_tasa['total_carros_concretados']) / pais_agrupado_para_tasa['total_carros_general'] * 100

In [221]:
pais_agrupado_para_tasa['tasa_abandono'] = pais_agrupado_para_tasa ['tasa_abandono']
print(pais_agrupado_para_tasa[['Country', 'tasa_abandono']])

                 Country  tasa_abandono
0              Australia  -2.234247e+07
1                Austria  -6.723077e+07
2                Bahrain  -7.500000e+06
3                Belgium  -2.127193e+07
4                 Brazil  -3.000000e+07
5                 Canada  -2.900000e+07
6        Channel Islands  -2.068966e+07
7                 Cyprus  -4.057143e+07
8         Czech Republic  -6.000000e+06
9                Denmark  -1.708696e+07
10                  EIRE  -2.324096e+07
11    European Community  -1.350000e+07
12               Finland  -1.404348e+07
13                France  -2.173434e+07
14               Germany  -1.718569e+07
15                Greece  -3.250000e+07
16             Hong Kong  -2.450000e+07
17               Iceland  -9.737500e+07
18                Israel  -3.480000e+07
19                 Italy  -1.473810e+07
20                 Japan  -1.326923e+07
21               Lebanon  -4.400000e+07
22             Lithuania  -7.500000e+06
23                 Malta  -1.390000e+07
24           Netherlands  -2.302062e+07
25                Norway  -3.026667e+07
26                Poland  -1.350000e+07
27              Portugal  -3.142105e+07
28                   RSA  -5.600000e+07
29          Saudi Arabia  -4.000000e+06
30             Singapore  -5.275000e+07
31                 Spain  -2.630337e+07
32                Sweden  -9.170732e+06
33           Switzerland  -3.100000e+07
34                   USA  -3.690000e+07
35  United Arab Emirates  -3.250000e+07
36        United Kingdom  -2.215047e+07
37           Unspecified  -3.338462e+07

In [58]:
print (f'Tasa de abandono de carros: {tasa_abandono:.2f}%')
print ('Se considera una tasa baja.')

Tasa de abandono de carros: 1.60%
Se considera una tasa baja.

In [60]:
#Calcular tasa de concretados
Tasa_concretado = (total_carros_general - total_carros_cancelados) / total_carros_general * 100

In [61]:
print (f'Tasa de carros concretados: {Tasa_concretado:.2f}%')
print ('Se considera una tasa alta.')

Tasa de carros concretados: 98.40%
Se considera una tasa alta.

In [62]:
# Cálculo de la suma de los montos de las órdenes canceladas
total_monto_cancelado = df_canceladas_general['Price'].sum()

In [75]:
print (f'Suma de los montos de las órdenes canceladas: {total_monto_cancelado:,.2f} dólares'.replace (',','.'))

Suma de los montos de las órdenes canceladas: 125.881.83 dólares

In [65]:
total_monto_concretado = df_concretadas_general['Price'].sum()

In [68]:
print (f'Suma de los montos de las órdenes concretadas: {total_monto_concretado:,.2f} dólares'.replace (',','.'))

Suma de los montos de las órdenes concretadas: 6.665.479.64 dólares

In [87]:
# Cálculo de suma total monto cancelado por país
total_monto_cancelado_por_pais = df_canceladas_general.groupby('Country')['Price'].sum()

In [88]:
print(f'La suma de los montos totales cancelados por país son: {total_monto_cancelado_por_pais}')

La suma de los montos totales por país es: Country
Australia                883.53
Austria                   38.56
Belgium                  393.89
Channel Islands          112.92
Cyprus                    63.60
Czech Republic            47.04
Denmark                  136.72
EIRE                    3569.94
European Community        14.61
Finland                   76.08
France                  1676.54
Germany                 6013.07
Italy                    551.16
Japan                    364.41
Malta                    121.94
Netherlands               46.34
Norway                   139.69
Poland                    13.27
Portugal                 122.35
Saudi Arabia              13.27
Spain                    697.38
Sweden                   113.90
Switzerland              469.85
USA                     1326.63
United Kingdom        108875.14
Name: Price, dtype: float64

In [89]:
# Cálculo de suma totales por país
total_monto_concretado_por_pais = df_concretadas_general.groupby('Country')['Price'].sum()

In [95]:
print(type(total_monto_concretado_por_pais))

<class 'pandas.core.series.Series'>

In [94]:
print(f'La suma de los montos totales concretados por país son: {total_monto_concretado_por_pais}')

La suma de los montos totales concretados por país son: Country
Australia                 20884.28
Austria                   12143.48
Bahrain                     255.17
Belgium                   33083.54
Brazil                      445.87
Canada                     1852.27
Channel Islands            8432.17
Cyprus                    11013.82
Czech Republic              285.23
Denmark                    5052.00
EIRE                     101358.22
European Community          832.03
Finland                    8655.56
France                   129080.51
Germany                  128452.63
Greece                      773.19
Hong Kong                  2049.31
Iceland                    6192.03
Israel                     4766.89
Italy                      8255.68
Japan                      4123.24
Lebanon                     709.70
Lithuania                   444.26
Malta                      1901.53
Netherlands               27654.52
Norway                    11689.82
Poland                     2403.30
Portugal                  22028.96
RSA                         802.00
Saudi Arabia                113.93
Singapore                  3499.58
Spain                     31900.26
Sweden                     4964.04
Switzerland               30057.10
USA                        3279.39
United Arab Emirates        883.88
United Kingdom          6029347.74
Unspecified                5812.51
Name: Price, dtype: float64

In [99]:
pais_mas_cancelados = df_canceladas_general ['Country']. value_counts()

In [104]:
#Órdenes canceladas por pais
print(f'Las órdenes canceladas por país: {pais_mas_cancelados}')

Las órdenes canceladas por país: Country
United Kingdom        7324
Germany                435
EIRE                   241
France                 133
USA                    112
Australia               73
Spain                   44
Italy                   37
Japan                   34
Switzerland             33
Belgium                 32
Malta                   14
Norway                  11
Portugal                10
Channel Islands          9
Sweden                   9
Denmark                  8
Finland                  6
Cyprus                   6
Czech Republic           4
Netherlands              4
Austria                  3
Poland                   1
European Community       1
Saudi Arabia             1
Name: count, dtype: int64

In [109]:
# País con mas cancelación
pais_mas_cancelación = pais_mas_cancelados.idxmax()
suma_mas_alta = total_monto_cancelado_por_pais.max()

In [118]:
print(f'País con la suma más alta de montos cancelados: {pais_mas_cancelación} con un total de: {suma_mas_alta:,.2f} dólares.'.replace(',','.'))

País con la suma más alta de montos cancelados: United Kingdom con un total de: 108.875.14 dólares.

In [111]:
# País con menos cancelación
pais_menos_cancelación = pais_mas_cancelados.idxmin()
suma_menos_alta = total_monto_cancelado_por_pais.min()

In [113]:
print(f'País con la suma más baja de montos cancelados: {pais_menos_cancelación} con un total de: {suma_menos_alta:,.2f} dólares.')

País con la suma más baja de montos cancelados: Poland con un total de: 13.27 dólares

In [192]:
# Lista de productos cancelados agrupados por pais y producto, sumando las cantidades
productos_cancelados = df_canceladas_general.groupby(['ProductName', 'Country', 'Date', 'Price'])['Quantity'].sum().reset_index()
# Ordenar de mayor a menor 
productos_cancelados = productos_cancelados.sort_values(by='Quantity', ascending=True)

In [193]:
productos_cancelados

,ProductName,Country,Date,Price,Quantity
4669,Paper Craft Little Birdie,United Kingdom,12/9/2019,6.19,-80995
4174,Medium Ceramic Top Storage Jar,United Kingdom,1/18/2019,11.32,-74215
6166,Rotating Silver Angels T-Light Hldr,United Kingdom,12/2/2018,10.28,-9360
2231,Fairy Cake Flannel Assorted Colour,United Kingdom,4/18/2019,12.40,-3114
4913,Pink Blue Felt Craft Trinket Box,United Kingdom,10/11/2019,11.34,-2592
...,...,...,...,...,...
8200,Zinc Herb Garden Container,United Kingdom,9/14/2019,16.66,-1
23,12 Pencils Tall Tube Skulls,United Kingdom,5/5/2019,11.12,-1
22,12 Pencils Tall Tube Red Retrospot,United Kingdom,5/5/2019,11.12,-1
8205,Zinc T-Light Holder Star Large,United Kingdom,10/17/2019,11.22,-1
8211,Zinc Top 2 Door Wooden Shelf,United Kingdom,12/9/2018,27.62,-1

In [194]:
# Los 50 productos mas cancelados
productos_mas_cancelados_15 = productos_cancelados.head(50)

In [195]:
print("Los 50 productos más cancelados (ordenados por pais, fecha y de mayor a menor):")
print ('\n')
print(productos_mas_cancelados_15.to_string(index=False))

Los 50 productos más cancelados (ordenados por pais, fecha y de mayor a menor):


                        ProductName        Country       Date  Price  Quantity
          Paper Craft Little Birdie United Kingdom  12/9/2019   6.19    -80995
     Medium Ceramic Top Storage Jar United Kingdom  1/18/2019  11.32    -74215
Rotating Silver Angels T-Light Hldr United Kingdom  12/2/2018  10.28     -9360
 Fairy Cake Flannel Assorted Colour United Kingdom  4/18/2019  12.40     -3114
   Pink Blue Felt Craft Trinket Box United Kingdom 10/11/2019  11.34     -2592
      Gin And Tonic Diet Metal Sign United Kingdom  4/18/2019  12.15     -2000
 Cream Hanging Heart T-Light Holder United Kingdom  4/18/2019  12.86     -1930
                  Herb Marker Basil United Kingdom  6/13/2019  10.81     -1515
             Tea Time Party Bunting United Kingdom  4/18/2019  12.86     -1300
         Paper Pocket Traveling Fan United Kingdom  10/4/2019  10.32     -1200
  World War 2 Gliders Asstd Designs United Kingdom  5/10/2019  10.47      -960
         Feltcraft Butterfly Hearts United Kingdom 10/11/2019  11.53      -840
                Home Sweet Home Mug United Kingdom  8/17/2019  11.34      -828
              Pantry Chopping Board United Kingdom  9/21/2019  15.44      -756
               Feltcraft Doll Molly United Kingdom 10/11/2019  12.86      -720
               Feltcraft Doll Molly United Kingdom 10/11/2019  12.61      -720
 Coloured Glass Star T-Light Holder United Kingdom  7/20/2019  13.07      -720
       Mirror Mosaic T-Light Holder United Kingdom 10/24/2019  10.65      -720
          Vintage Billboard Tea Mug United Kingdom  8/17/2019  11.34      -701
                 Doormat Fairy Cake United Kingdom  4/18/2019  17.17      -670
  Round Snack Boxes Set Of 4 Fruits          Japan   4/4/2019  12.86      -624
          Assorted Colours Silk Fan United Kingdom  1/31/2019  10.92      -600
         Feltcraft 6 Flower Friends United Kingdom 10/11/2019  12.15      -600
                Save The Planet Mug United Kingdom  8/17/2019  11.34      -576
            Regency Tea Plate Roses United Kingdom  6/30/2019  11.74      -576
 Cream Hanging Heart T-Light Holder United Kingdom 12/17/2018  12.86      -500
      Small Ceramic Top Storage Jar United Kingdom  6/20/2019  10.96      -480
 Mirror Mosaic T-Light Holder Round United Kingdom 10/24/2019  10.65      -468
          Place Setting White Heart United Kingdom   8/3/2019  10.62      -432
             Alphabet Stencil Craft United Kingdom  8/31/2019  11.34      -432
          Place Setting White Heart United Kingdom  4/13/2019  10.62      -432
 Coloured Glass Star T-Light Holder United Kingdom  6/15/2019  13.07      -420
               Basket Of Toadstools United Kingdom   7/7/2019  11.34      -408
               Giraffe Wooden Ruler United Kingdom  8/31/2019  11.94      -400
              Revolver Wooden Ruler United Kingdom  8/31/2019  11.94      -400
              Rain Poncho Retrospot United Kingdom 10/16/2019  11.12      -360
        12 Pencils Small Tube Skull United Kingdom  8/31/2019  10.92      -334
        Mirror Mosaic Votive Holder United Kingdom 10/24/2019  10.65      -324
             Ivory Diner Wall Clock United Kingdom  8/31/2019  18.09      -318
    Hot Water Bottle I Am So Poorly United Kingdom  9/22/2019  14.61      -312
            Jumbo Bag Red Retrospot United Kingdom 10/11/2019   6.02      -300
             Gold Mini Tape Measure United Kingdom 12/17/2018  10.99      -300
       Polyester Filler Pad 40x40cm United Kingdom  12/8/2019   6.19      -300
  Red Floral Feltcraft Shoulder Bag United Kingdom 10/11/2019  13.72      -288
       36 Doilies Vintage Christmas           EIRE   8/4/2019  11.53      -288
  Vanilla Scent Candle Jewelled Box          Spain 10/17/2019  11.53      -288
               Giraffe Wooden Ruler United Kingdom  11/9/2019  11.94      -288
    Victorian Metal Postcard Spring United Kingdom 11/24/2019   6.13      -288
White Tall Porcelain T-Light Holder United Kingdom  9/23/2019  12.25      -288
              Feltcraft Cushion Owl United Kingdom 10/11/2019  13.72      -288

In [178]:
# Lista de productos concretados agrupados por pais y producto, sumando las cantidades
productos_concretados = df_concretadas_general.groupby(['ProductName', 'Country', 'Date'])['Quantity'].sum().reset_index()
# Ordenar de mayor a menor 
productos_concretados = productos_concretados.sort_values(by='Quantity', ascending=False)

In [179]:
productos_concretados

,ProductName,Country,Date,Quantity
177715,Paper Craft Little Birdie,United Kingdom,12/9/2019,80995
152330,Medium Ceramic Top Storage Jar,United Kingdom,1/18/2019,74215
19495,Asstd Design 3d Paper Stickers,United Kingdom,11/25/2019,12540
300698,World War 2 Gliders Asstd Designs,United Kingdom,10/27/2019,4848
196311,Popcorn Holder,United Kingdom,5/27/2019,4314
...,...,...,...,...
193003,Plasters In Tin Spaceboy,France,12/7/2018,1
193025,Plasters In Tin Spaceboy,France,9/21/2019,1
306036,Zinc Wire Sweetheart Letter Tray,United Kingdom,5/17/2019,1
306033,Zinc Wire Sweetheart Letter Tray,United Kingdom,4/21/2019,1
306031,Zinc Wire Sweetheart Letter Tray,United Kingdom,11/30/2019,1

In [180]:
#Los 50 productos mas cancelados
productos_mas_concretados_15 = productos_concretados.head(50)

print("Los 50 productos más concretados (ordenados por pais, fecha y de mayor a menor):")
print ('\n')
print(productos_mas_concretados_15.to_string(index=False))

Los 50 productos más concretados (ordenados por pais, fecha y de mayor a menor):


                       ProductName        Country       Date  Quantity
         Paper Craft Little Birdie United Kingdom  12/9/2019     80995
    Medium Ceramic Top Storage Jar United Kingdom  1/18/2019     74215
    Asstd Design 3d Paper Stickers United Kingdom 11/25/2019     12540
 World War 2 Gliders Asstd Designs United Kingdom 10/27/2019      4848
                    Popcorn Holder United Kingdom  5/27/2019      4314
             Empire Design Rosette United Kingdom  2/22/2019      3906
     Assorted Colour Bird Ornament United Kingdom   8/4/2019      3359
 World War 2 Gliders Asstd Designs United Kingdom  12/2/2018      3264
Essential Balm 35g Tin In Envelope United Kingdom  7/19/2019      3206
Fairy Cake Flannel Assorted Colour United Kingdom  1/11/2019      3123
Fairy Cake Flannel Assorted Colour United Kingdom  4/18/2019      3114
Cream Hanging Heart T-Light Holder United Kingdom  1/11/2019      3114
                    Popcorn Holder United Kingdom  12/8/2019      3111
       Small Chinese Style Scissor United Kingdom  11/2/2019      3020
    Girls Alphabet Iron On Patches United Kingdom  7/31/2019      2880
  Pink Blue Felt Craft Trinket Box United Kingdom  10/7/2019      2868
Pack Of 60 Pink Paisley Cake Cases United Kingdom  5/23/2019      2724
 World War 2 Gliders Asstd Designs United Kingdom   2/3/2019      2640
Grow A Flytrap Or Sunflower In Tin United Kingdom 12/16/2018      2496
                Rabbit Night Light    Netherlands 10/27/2019      2400
Grow A Flytrap Or Sunflower In Tin United Kingdom  2/11/2019      2400
Essential Balm 35g Tin In Envelope United Kingdom  2/16/2019      2400
 World War 2 Gliders Asstd Designs United Kingdom   4/1/2019      2304
          Pack Of 12 Skull Tissues United Kingdom  3/20/2019      2184
              Red Harmonica In Box United Kingdom  11/3/2019      2158
Cream Hanging Heart T-Light Holder United Kingdom  4/18/2019      2096
     Gin And Tonic Diet Metal Sign United Kingdom  4/18/2019      2067
                    Popcorn Holder United Kingdom 10/28/2019      2065
     Gin And Tonic Diet Metal Sign United Kingdom  1/11/2019      2060
           Cream Heart Card Holder United Kingdom  12/7/2018      2043
                Rabbit Night Light          Japan 11/29/2019      2040
                    Popcorn Holder United Kingdom   8/4/2019      2036
           Black Heart Card Holder United Kingdom  12/7/2018      2016
                    Popcorn Holder United Kingdom  11/7/2019      2012
       Small Chinese Style Scissor United Kingdom  8/24/2019      2004
       Small Chinese Style Scissor United Kingdom   5/6/2019      2001
          Pink Vintage Spot Beaker United Kingdom  9/20/2019      1944
         Green Vintage Spot Beaker United Kingdom  9/20/2019      1944
          Blue Vintage Spot Beaker United Kingdom  9/20/2019      1882
          Gingham Heart Decoration    Netherlands 10/20/2019      1872
         Assorted Colours Silk Fan United Kingdom   7/5/2019      1846
    Assorted Colour T-Light Holder United Kingdom  12/2/2018      1824
             Rain Poncho Retrospot United Kingdom  9/19/2019      1791
 World War 2 Gliders Asstd Designs United Kingdom  4/13/2019      1776
                    Popcorn Holder United Kingdom 11/14/2019      1767
 Assorted Laquered Incense Holders United Kingdom 12/12/2018      1728
    Girls Alphabet Iron On Patches United Kingdom  3/30/2019      1728
     Letter Shape Pencil Sharpener United Kingdom   6/9/2019      1610
              Red Harmonica In Box United Kingdom  10/4/2019      1554
           Jumbo Bag Red Retrospot United Kingdom  10/6/2019      1533

In [197]:
print(sales[['Country', 'df_canceladas_general', 'df_concretadas_general', 'tasa_cancelacion']])

KeyError: "['df_canceladas_general', 'df_concretadas_general', 'tasa_cancelacion'] not in index"